$brand-gray-5: #333;
$brand-gray-1: #f5f5f5;

$primary: #0A312A;
$secondary: #004019;
$tertiary: #71A830;


// Create your own map
$custom-colors: (
        "brand-gray-5": $brand-gray-5,
        "brand-gray-1": $brand-gray-1,
);

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "tertiary": $tertiary,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


@import "bootstrap";
