@import "variables";

$barHeight: 450px;

.bg-divider {
  background: $primary;
  color: white;
  border-top: 4px solid #71A830;
  width: 100%;
  height: 64px;

  @include media-breakpoint-up(md) {
    height: $barHeight;
  }
}

#contact {
  margin-bottom: 2em;
  @include media-breakpoint-up(md) {
    margin-bottom: -50%;
  }
}