@import "_variables";
@import "social-bar";
@import "menu";
@import "hero-slides";


body{
  background: #333 !important;
}

footer {
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin-top: auto;
}

.developer-bar{
  height: 48px;
  color: #9E9E9E;
  background: #E4E4E4;

}