@import "_variables";
@import "social-bar";
@import "menu";
@import "hero-slides";
@import "banners";

@import "home";


html {
  //font-size: 24px;
}

body {
  background: #333 !important;
}

footer {
  position: relative;
}

.developer-bar {
  height: 48px;
  color: #9E9E9E;
  background: #E4E4E4;
}

h {
  &2 {
    width: fit-content;
    font-size: 2em;

    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 16px;
    margin-bottom: 48px;


    &5 {
    }

  }
}
.slider-title {
  font-size: 3.5em;
  color: white;
}
.with-bar {
  &::after {
    content: "";
    border-bottom: 4px solid $tertiary;
    width: 40px;
    display: block;
    margin-top: 16px;
  }

}