@import "_variables";
@import "social-bar";
@import "menu";
@import "hero-slides";


html{
  //font-size: 24px;
}

body{
  background: #333 !important;
}

footer {
  position: relative;
}

.developer-bar{
  height: 48px;
  color: #9E9E9E;
  background: #E4E4E4;

}