@import "variables";

.menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  color: white;

  &-bar {
    height: 102px;
    background: $brand-gray-5;
    color: white;
    font-size: 12px;

    &-footer {
      height: 96px;
      background: $brand-gray-1;
      color: $brand-gray-5;
    }
  }

  &-item {
    & > a {
      text-decoration: none;
      color: white;
      height: 48px;
      border: solid 1px transparent;
      padding: 8px 16px;


      &[aria-current] {
        color: $primary;
        border-left-color: $brand-yellow-1;
        border-right-color: $brand-yellow-1;
      }
    }
  }


}

.menu-footer {
  @extend .menu;

  & > .menu-item {
    & > a {
      color: $brand-gray-5;

      &[aria-current] {
        color: $brand-gray-5;
        font-weight: bold;
        border: solid 1px transparent;
      }
    }
  }

}
