@import "variables";

.menu {
  height: 102px;
  background: $brand-gray-5;
  color: white;
  font-size: 12px;

  &-footer {
    height: 96px;
    background: $brand-gray-1;
    color: $brand-gray-5;
  }


  &-items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    & > li {
      padding: 8px 16px;
      height: 48px;
      border: solid 1px transparent;

      &.active {
        color: $brand-yellow-1;
        border-left-color: $brand-yellow-1;
        border-right-color: $brand-yellow-1;
      }

    }

    &-footer {
      & > li {
        height: auto;
        border: none;

        &.active {
          color: $brand-gray-5;
          font-weight: bold;
        }

      }
    }
  }


}