@import "variables";

.menu {
  list-style: none;
  padding: 0;
  width: 100%;

  @include media-breakpoint-up(md) {
    display: flex;
    padding: 0;
    margin: 0;
    color: white;
  }

  &-bar {
    height: 102px;
    background: $brand-gray-5;
    color: white;
    font-size: 12px;

    &-footer {
      height: 96px;
      background: $brand-gray-1;
      color: $brand-gray-5;
    }
  }

  &-item {
    text-align: center;

    @include media-breakpoint-up(md) {
    }


    & > a {
      width: 100%;
      display: block;
      font-size: 1.5em;
      height: 48px;

      padding: 8px 16px;
      margin-bottom: 16px;

      color: white;
      text-decoration: none;

      border: none;
      border-radius: 8px;

      @include media-breakpoint-up(md) {
        border: solid 1px transparent;
        border-radius: 0;
        font-size: 12px;
      }

      &[aria-current] {
        background: $primary;
        color: $brand-gray-5;

        @include media-breakpoint-up(md) {
          background: none;
          color: $primary;

          border-left-color: $brand-yellow-1;
          border-right-color: $brand-yellow-1;
        }
      }
    }
  }


}

.logo {

}

.mobile-menu-container {
  position: absolute;
  z-index: 10;
  background: rgba($brand-gray-5, .95);
  padding: 1.5em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @include media-breakpoint-up(md) {
    display: none;
  }

}

.menu-footer {
  @extend .menu;

  & > .menu-item {
    & > a {
      color: $brand-gray-5;

      &[aria-current] {
        color: $brand-gray-5;
        font-weight: bold;
        border: solid 1px transparent;
      }
    }
  }

}
