@import "variables";


.social-bar {
  background: $brand-gray-1;
  height: auto;
  padding: 1em 1em;

  &-header {
    border-top: solid 3px $brand-gray-5;
  }

  &-footer {

  }

  @include media-breakpoint-up(md){
  height: 48px;

  }

}

.social-icons {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  & > a {
    color: $brand-gray-5;

    &:hover{
      filter: brightness(200%);
    }
  }
}